  $wid:150px;
  $hei:150px;

        img{

            width: $wid;
         
            height: $hei;
         
         }
         .parent{
             background-color:rgb(247, 18, 159);
            position: relative;
            width:100%;
            height:500px ;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;   
            justify-content:space-around;
            align-content: center;
            margin-top: -50px;
         }
         .parent>div{
         margin:5px;
         }
         .flower{
         color: white;
          position:absolute;
          top:90%;
          justify-content: centre;
          
          
         }

  
